.page {
  background: #ededed;
}

.page,
.page button,
.page input,
.page label {
  background: #ededed;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 5px;
}

.page input,
.page label {
  margin-right: 3px;
}

button:hover,
input[type=button]:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #2598a3;
  background: #51e5f3;
  transform: scale(1.1);
}

.loader-images {
  margin: 10px 0px;
}

.loader-images__input-file {
  display: none;
}

.loader-images__file-name {
  font: 400 13.3333px Arial;
}

.gallery__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.example-links span {
  margin-bottom: 5px;
}

.gallery {
  max-width: 860px;
  margin: 0 auto;
}

.gallery__content {
  max-width: 850px;
  min-width: 310px;
  min-height: 67vh;
  max-height: 67vh;
  padding-top: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  resize: both;
  user-select: none;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  align-content: flex-start;
}

.gallery__content:empty {
  position: relative;
  background-image: url(../images/upload.svg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center 43%;
}

.gallery__img {
  object-fit: cover;
  max-height: 140px;
  flex-grow: 1;
  width: 100%;
} 

.gallery__content:empty:before {
  content: 'Drag image';
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #000000de;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.gallery__content:after {
  flex-grow: 10;
  content: '';
} 

.gallery__div {
  display: flex;
  flex-grow: 1;
  margin: 5px;
  min-height: 140px;
  position: relative;
  min-width: 160px; 
  background-color: grey;
  background-image: url("../images/Placeholder_view_vector.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__button-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #989a9e;
  visibility: hidden;
}

.gallery__button-delete::before,
.gallery__button-delete::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    height: 4px;
    background: #000;
    border-radius: 4px;
}

.gallery__button-delete::before {
  transform: rotate(-45deg)
}

.gallery__button-delete::after {
  transform: rotate(45deg)
}

.gallery__content.hover:empty:before {
  content: 'Drop';
}

.gallery__content.hover {
  border: solid 2px #2598a3;
  background-color: white;
  border-radius: 5px;
}

.gallery__button-delete:hover {
  transform: scale(1.1);
  background-color: white;
}

.gallery__div:hover .gallery__button-delete{
  visibility: visible;
}

@media (max-width: 768px) {
  .gallery__content:empty {
    background-image: none;
  }
  .gallery__content:empty:before {
    content: '';
  }
  .page{
    margin: 0;
    padding: 0px 5px;
  }
  .page,
  .page button,
  .page input,
  .page label {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .loader-images input {
    margin: 5px;
  }
  .gallery__content {
    min-width: 300px;
  }
  .gallery__div {
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;

  }
  .gallery__img {
    max-height: 100px;
  }
}
